*, *::before, *::after {
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

:root {
    --background: rgb(164, 232, 218);
    --navHeight: 70px;
    --buttonBackground: aliceblue;
    --buttonBorder: darkgrey;
    --fontColor: darkslategrey;
}

@keyframes morph {
    0%   { background-color: var(--buttonBackground) }
    40%  { background-color: var(--buttonBackground) }
    50%  { background-color: var(--background); }
    60%  { background-color: var(--buttonBackground); }
    100% { background-color: var(--buttonBackground); }
  }

#navbar {
    background: var(--background);
    position: fixed;
    top: 0px;
    width: 100%;
    height: var(--navHeight);

    display: flex;
    padding-left: 10px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 999;
    opacity: 80%;
}

#mainMenuButton {
    max-height: 80%;
    border: 1px solid var(--buttonBorder);
    border-radius: 5px;
    animation: morph 10s infinite;
}

.sidebar{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    left: -100%;
    background: var(--background);
    transition: left 0.4s ease;
}
.sidebar.show{
    left: 0px;
}

#sideNavTitle {
    height: var(--navHeight);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#closeSideNav {
    width: 20px;
    height: 20px;
}

#mainMessage {
    margin-top: var(--navHeight);
    padding: 20px;
    text-align: center;
    font-size: large;
    font-family: cursive;
    color: cadetblue;
    color: var(--fontColor);
}

#carousel {
    position: relative;
    /* height: 100%; */
}

.carImg {
    border-radius: 20px 20px 0 0;
    max-width: 100%;
    /* width : 100%; */
}

.carCard {
    padding-top: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0 ;
    /* height: 100%; */
    transition-property: opacity;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
}

/* #carWedding {
    z-index: -3;
}

#carCareer {
    z-index: -4;
}

#carFriends {
    z-index: -5;
} */

/* .carImg {
    z-index: inherit;
} */

.carTxt {
    /* z-index: inherit; */
    background: var(--background);
    color: var(--fontColor);
    text-align: center;
    padding: 10px;
    border-radius: 0 0 20px 20px;
}

.homeBubble {
    display: block;
    margin: 25px;
    border-radius: 20px;
    border: solid 2px var(--buttonBorder);
    padding: 10px;
    /* background-color: var(--background); */
}

.homeBubbleHeadline {
    width: 70%;
    padding: 10px;
    text-align: center;
    font-size: large;
    color: var(--fontColor);
}

.homeBubbleHeader {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: var(--background);
}

.homeBubbleIcon {
    width: 30%;
    padding: 10px;
}

.homeBubbleTxt {
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--fontColor);
}

.homeBubbleButton {
    text-align: center;
    padding: 10px;
    margin: auto;
    background: var(--background);
    border-radius: 20px;
}